@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem vertical */
  height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Customiza a trilha da barra de rolagem (a parte que fica atrás do "polegar") */
::-webkit-scrollbar-track {
  background: #1f1f1f; /* Cor de fundo da trilha */
}

/* Customiza o "polegar" da barra de rolagem (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #000000; /* Cor do polegar */
  border-radius: 10px; /* Bordas arredondadas no polegar */
  border: 3px solid #0487E2; /* Adiciona uma borda ao polegar para um efeito de "almofada" */
}

.header {
  background-color: #1f1f1f;
  box-shadow: inset 0 -3px 0 0 #0a0a0a; /* Borda interna de 5px com cor preta */
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vh;
  box-sizing: border-box;
}

header h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding-left: 20.5vh;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 1px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

header h1 span {
  color:#0487E2;
}

header h3 {
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 1px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

header h3:hover {
  font-size: 18px;
  transform: scale(1.05);
  color: #0487E2;
  border: #0487E2 solid 1px;
  border-radius: 10px;
  padding: 5px;
}

.save__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header h2 {
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-left: 30px;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 1px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

header h2:hover {
  cursor: pointer;
  font-size: 18px;
  transform: scale(1.05);
  color: #0487E2;
  border: #0487E2 solid 1px;
  border-radius: 10px;
  padding: 5px;
}

.import__button input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.container {
  display: flex;
  height: 90vh;
  width: 100%;
}

.left-side {
  background-color: #0487E2; /* Cor de fundo para visualização */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  border-right: rgb(0, 0, 0) 5px solid;
}

.right-side {
  background-image: url(/src/assets/wallpaper__upgrades.jpg);
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: auto;
  overflow-x: hidden;
}

.edecio {
  text-align: center;
}

.game__container h4 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 0, 255);
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.displaybalance {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 50px;
  margin-bottom: 2vh;
  color: rgb(255, 198, 100);
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.displaybalance img {
  margin-left: 10px;
  height: 48px;
  width: 48px;
}

.displaycps {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Cps {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 20px;
  top: -10vh;
  color: #fff;
  letter-spacing: 1px;
  margin-right: 3vh;
  margin-left: 3vh;
  margin-bottom: 2vh;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 1px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

.edecio h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 2vh;
  color: rgb(255, 226, 59);
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}


.edecio img {
  margin-bottom: 12vh;
  height: 100%;
  width: 450px;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid black;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.edecio img:hover {
  transform: scale(1.02);
  transition: all 0.1s ease;
}

.edecio img:active {
  transform: scale(0.90);
  transition: all 0
}

.upgrades {
  font-family: "Poppins", sans-serif;
  flex: 1;
}

.changeTab__container {
  display: flex;
}

.upgrades h1 {
  flex: 1;
  background-color: #3a3a3a;
  border-bottom: #000000 solid 5px;
  border-right: #000000 solid 2.5px;
  margin: 0;
  padding: 30px;
  padding-top: 4vh;
  font-size: 2.2rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.upgrades h1:hover {
  cursor: pointer;
  font-size: 2.4rem;
  color: #6cfd6c;
}

.upgrades h2 {
  flex: 1;
  background-color: #3a3a3a;
  border-bottom: #000000 solid 5px;
  border-left: #000000 solid 2.5px;
  margin: 0;
  padding: 30px;
  padding-top: 4vh;
  font-size: 2.2rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.upgrades .changeTab__container h2:hover {
  cursor: pointer;
  font-size: 2.4rem;
  color: rgb(255, 0, 255);
}
.upgrades h3 {
  flex: 1;
  background-color: #3a3a3a;
  border-bottom: #000000 solid 5px;
  border-left: #000000 solid 2.5px;
  margin: 0;
  padding: 30px;
  padding-top: 4vh;
  font-size: 2.2rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease;
  text-align: center;
  justify-content: center;
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.upgrades .changeTab__container h3:hover {
  cursor: pointer;
  font-size: 2.4rem;
  color: rgb(255, 145, 0);
}

.upgrades .tab_inactive {
  filter: brightness(0.7);
}

.upgrade__container {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  border: black 2px solid;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 2px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

.upgrade__container h2,
.upgrade__container h3,
.upgrade__container h4,
.upgrade__container h5 {
  font-size: 20px;
  margin: 0;
  padding: 20px;
  flex: 1;
  min-width: 0;
  height: 100%;
  border: black 1px solid;
}

.upgrade__container h2 {
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: #006eff;
}

.upgrade__container h3 {
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: wheat;
  flex-grow: 2; /* h3 ocupará mais espaço */
}

.upgrade__container h4 {
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: #6cfd6c;
}

.upgrade__container h5 {
  letter-spacing: 2px;
  color: white;
  background-color: #006eff;
}

.upgrade__container:hover {
  transform: scale(1.02);
  cursor: pointer;  
}

.upgrade__container:active {
  transform: scale(0.95);
}

.backgroundCapitulo2 {
  background-color: orange !important;
}

.backgroundCapitulo3 {
  background-color: rgb(180, 115, 255) !important;
}

.backgroundPrestigio {
  background-color: rgb(255, 0, 255) !important;
}

.skin__container h4 {
  margin: 15px auto;
  max-width: 20%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
  border: black 2px solid;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  background-color: #535353;
  font-size: 25px;
  padding: 10px;
  height: 100%;
  border: black 1px solid;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 2px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

.skin__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skin__box {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  margin: 20px;
  border: black solid 2px;
}

.skin__box img {
  height: 140px;
  width: auto;
}

.skin__box:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.skin__box h5 {
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  background-color: #292929;
  color: #fff;
  padding: 5px;
  font-size: 10px;
  font-weight: 550;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 2px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

.notificacao {
  font-family: "Press Start 2P", system-ui;
  position: absolute;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 25px;
  transform: translate(-50%, 0); /* Inicialmente posicionada onde o clique aconteceu */
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transição rápida */
  pointer-events: none;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 2px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

/* Classe para fazer a notificação visível */
.notificacao-visivel {
  opacity: 1;
  transform: translate(-50%, -200%); /* Ajusta a posição para subir mais alto */
}

/* Estilo de animação para o desaparecimento da notificação */
@keyframes desaparecer {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); /* Ajusta a posição inicial para subir rapidamente */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -300%); /* Ajusta a posição final para subir ainda mais */
  }
}

.notificacao {
  animation: desaparecer 0.75s forwards; /* Reduz o tempo da animação para desaparecer */
}