@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html, body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  -webkit-user-select: none;
}

header {
  background-color: rgb(31, 31, 31);
  height: 9vh;
  width: 100%;
  top: 0;
}

header h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-top: 3vh;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 1px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

header h1 span {
  color:rgb(85, 158, 255);
}

.lineheader {
  background-color: #000000;
  height: 1vh;
  width: 100%;
  top: 8vh;
}

.container {
  display: flex;
  height: 90vh;
}

.left-side, .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
}

.left-side {
  background-color: #0487E2; /* Cor de fundo para visualização */
}

.right-side {
  background-color: #ff3c3c;
  overflow: auto;
  overflow-x: hidden; /* Oculta a rolagem vertical */
}

.edecio {
  text-align: center;
}

.displaybalance {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 2vh;
  color: rgb(255, 198, 100);
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.displaybalance img {
  margin-left: 10px;
  height: 48px;
  width: 48px;
}

.displaycps {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Cps {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 20px;
  top: -10vh;
  color: #fff;
  margin-right: 3vh;
  margin-left: 3vh;
  margin-bottom: 2vh;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 1px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

.edecio h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 2vh;
  color: rgb(255, 226, 59);
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}


.edecio img {
  margin-bottom: 12vh;
  height: 100%;
  width: 450px;
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid black;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.edecio img:hover {
  transform: scale(1.01);
}

.edecio img:active {
  transform: scale(0.90);
}

.upgrades {
  text-align: center;
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.upgrades h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem; /* Ajuste o tamanho conforme necessário */
  font-weight: bold;
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vh;
  text-shadow: 
  -2px -2px 0px black,   
  2px -2px 0px black,    
  -2px 2px 0px black,    
  2px 2px 0px black,     
  0px -2px 0px black,    
  0px 2px 0px black,     
  -2px 0px 0px black,    
  2px 0px 0px black;
}

.upgrade__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  color: #fff;
  font-size: 30px;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 2px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

.upgrade__container h2 {
  font-weight: 600;
  margin: 0;
  padding: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: #006eff;
  border-radius: 10px 0 0 10px;
}

.upgrade__container h3 {
  font-weight: 600;
  margin: 0;
  padding: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: wheat;
}

.upgrade__container h4 {
  font-weight: 600;
  margin: 0;
  padding: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: #6cfd6c;
}

.upgrade__container h5 {
  margin: 0;
  padding: 20px;
  letter-spacing: 2px;
  color: white;
  background-color: #006eff;
  border-radius: 0 10px 10px 0;
}

.upgrade__container:hover {
  transform: scale(1.02);
  cursor: pointer;  
}

.upgrade__container:active {
  transform: scale(0.97);
}

.notificacao {
  font-family: "Press Start 2P", system-ui;
  position: absolute;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 25px;
  transform: translate(-50%, 0); /* Inicialmente posicionada onde o clique aconteceu */
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transição rápida */
  pointer-events: none;
  text-shadow: 
  -1px -1px 0px black,   
  1px -1px 0px black,    
  -1px 2px 0px black,    
  1px 1px 0px black,     
  0px -1px 0px black,    
  0px 1px 0px black,     
  -1px 0px 0px black,    
  1px 0px 0px black;
}

/* Classe para fazer a notificação visível */
.notificacao-visivel {
  opacity: 1;
  transform: translate(-50%, -200%); /* Ajusta a posição para subir mais alto */
}

/* Estilo de animação para o desaparecimento da notificação */
@keyframes desaparecer {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%); /* Ajusta a posição inicial para subir rapidamente */
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -300%); /* Ajusta a posição final para subir ainda mais */
  }
}

.notificacao {
  animation: desaparecer 0.75s forwards; /* Reduz o tempo da animação para desaparecer */
}